In [1]:
a = int(input('enter first num'))
b = int(input('enter second num'))
print('Sum :',a+b)

enter first num 1
enter second num 1

Sum : 2

In [3]:
a = int(input('enter first num'))
b = int(input('enter second num'))
if a > b:
    print(a)
else:
    print(b)

enter first num 3
enter second num 2

3

In [5]:
a = int(input('enter first num'))
b = int(input('enter second num'))
c = int(input('emter third num'))
if a > b and a > c:
    print(a)
elif b > a and b > c:
    print(b)
else:
    print(c)

enter first num 4
enter second num 5
emter third num 1

5

In [13]:
# def factorial(n):
#     fact = 1
#     for i in range(1,n+1):
#         fact = fact * i
#     print(fact)
# print(factorial(3))
n = int(input('enter num'))
fact = 1
for i in range(1,n+1):
    fact = fact*i
print(fact)

enter num 3

6

In [15]:
# simple interest
def simpleinterest(p,n,r):
    return (p*n*r)/100
print(simpleinterest(8,6,8))

3.84

In [19]:
# find area of circle
from math import pi
def areacircle(r):
    return pi*r**2
print(areacircle(5))

78.53981633974483

In [33]:
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2,int(n**0.5)+1):
        if n % i == 0:
            return False
    return True
num = int(input('enter number'))
if is_prime(num):
    print('prime')
else:
    print('not prime')

enter number 5

prime

In [41]:
# fibonacci series
def fib_series(n):
    a,b = 0,1
    for i in range(n):
        print(a)
        a,b = b,a+b
print(fib_series(5))

0
1
1
2
3
None

In [43]:
# swap list
def swaplist(list):
    get = list[-1], list[0]
    list[0], list[-1] = get
    return list
newList = [1,2,3,4]
print(swaplist(newList))

[4, 2, 3, 1]

In [8]:
# reverse list
list = [1,2,3,4]
rev_list = []
for num in list:
    rev_list.insert(0,num)
print(rev_list)

[4, 3, 2, 1]

In [49]:
# sum of element in list

list = [1,2,3,4,5]
sum = 0
for num in list:
    sum = sum + num
print(sum)

15

In [53]:
# multiply element in list

list = [2,4,8,3]
mul = 1
for num in list:
    mul = mul * num
print(mul)

192

In [57]:
# smallest num
number = [3,2,5,1,8]
smallest = number[0]
for num in number:
    if num < smallest:
        smallest = num
print(smallest)

1

In [61]:
# largest num is lust
number = [2,5,3,1,8,4]
largest = number[0]
for num in number:
    if num > largest:
        largest = num
print(largest)

8

In [65]:
# find second largest num in list
def second_largest(list):
    uni_num = set(list)
    if len(uni_num) < 2:
        return None
    uni_num.remove(max(uni_num))
    return max(uni_num)
numbers = [1,2,3,4]
print(second_largest(numbers))

3

In [69]:
# Even number in a list
list = [1,2,3,4,5,6]
for num in list:
    if num % 2 == 0:
        print(num)

2
4
6

In [71]:
# odd num
list = [1,2,3,4,5,6]
for num in list:
    if num % 2 != 0:
        print(num)

1
3
5

In [73]:
# print all even num in a range
even = [x for x in range(50) if x % 2 == 0]
print(even)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [75]:
# print all odd number in a range
odd = [x for x in range(50) if x%2 != 0]
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [77]:
# remove multiple element from list
list = [10,20,30,40,50,60,70]
remove = [20,40,60]
result = []
for num in list:
    if num not in remove:
        result.append(num)
print(result)

[10, 30, 50, 70]

In [79]:
# occurence of an element in a list
list = [1,2,3,4,5,5,4,2]
occ_list = {}
for num in list:
    if num in occ_list:
        occ_list[num] += 1
    else:
        occ_list[num] = 1
print(occ_list)

{1: 1, 2: 2, 3: 1, 4: 2, 5: 2}

In [81]:
# find the length of list
list = [1,2,3,4]
count = 0
for num in list:
    count = count + 1
print(count)

4

In [4]:
# find duplicate character in string
s = "GeeksforGeeks"
res = []

# Iterate over the unique elements in 's'
for c in set(s):  # Use set to avoid repeated checks
    if s.count(c) > 1:
        res.append(c)
        

print(res)

['e', 's', 'k', 'G']

In [103]:
name = 'rameklare'
unique_char = []
for char in name:
    if char not in unique_char:
        unique_char.append(char)
print

['r', 'a', 'm', 'e', 'k', 'l']

In [12]:
s = 'GreeksforGreeks'
res = []
for c in set(s):
    if s.count(c) > 1:
        res.append(c)
print(res)

['e', 'r', 'k', 's', 'G']