In [3]:
# Input three numbers
n1 = int(input('enter first number'))
n2 = int(input('enter second number'))
n3 = int(input('enter third number'))

if n1>=n2 and n1>=n3:
    print(n1)
elif n2>=n1 and n2>=n3:
    print(n2)
else:
    print(n3)

enter first number 20
enter second number 10
enter third number 30

30

In [7]:
# Check if character is vowel or consol

ch = input('enter a single character')
if ch in ['a','e','i','o','u']:
    print('vowel')
else:
    print('consol')

enter a single character a

vowel

In [9]:
# search the index of the number

nums = [1,2,3,4,5,6]
x = 3
idx = 0
while idx < len(nums):
    if nums[idx] == x:
        print('Found',idx)
    idx = idx+1

Found 2

In [11]:
nums = [1,2,3,4,5,6]
x = 3
idx = 0
for num in nums:
    if num == x:
        print('Found',idx)
    idx = idx+1

Found 2

In [19]:
# Factorial using recursion

def factorial(n):
    if n==0 or n==1:
        return 1
    else:
        return n * factorial(n-1)
       
print(factorial(n))

6

In [25]:
def fact(n):
    fact = 1
    for i in range(1,n+1):
        fact = fact*i
    print(fact)
fact(3)

6

In [27]:
# calculate sum of n natural numbers using recursion

def sum_n(n):
    if n == 0:
        return 0
    else:
        return n + sum_n(n-1)
print(sum_n(5))

15

In [29]:
# Fibonacci using recursion

def fib(n):
    if n<=1:
        return n
    else:
        return fib(n-1) + fib(n-2)
print(fib(6))

8

In [31]:
# Palindrome

list = [1,2,3,2,1]
list_copy = list.copy()
list_copy.reverse()
if list == list_copy:
    print('Palindrome')
else:
    print('Not pal')

Palindrome

In [37]:
# sum of tuple

t = eval(input('enter tuple'))
sum = 0
for i in t:
    sum = sum+i
print(sum)

enter tuple (1,2,3)

6

In [39]:
# sum of n numbers

n = int(input('enter a num'))
sum = 0
for i in range(1,n+1):
    sum = sum + i
print(sum)

enter a num 3

6

In [41]:
# fibonacci series

def fib(n):
    a,b = 0,1
    for i in range(n):
        print(a)
        a,b = b,a+b
print(fib(6))

0
1
1
2
3
5
None

In [49]:
# Check if a number is prime or not

def is_prime(n):
    if n<=1:
        return False
    for i in range(2,int(n**0.5)+1):
        if n%2==0:
            return False
    return True

nums = int(input('enter a num'))
if is_prime(nums):
    print('prime')
else:
    print('Not prime')

enter a num 1

Not prime

In [57]:
# remove duplicates from a list

number = [1,1,2,2,3,3,4,4]
uni_num = []
for num in number:
    if num not in uni_num:
        uni_num.append(num)
print(uni_num)

[1, 2, 3, 4]

In [61]:
# count the occurence of the number

number = [1,1,2,2,3,4,3,4]
count = {}
for num in number:
    if num in count:
        count[num] += 1
    else:
        count[num] = 1
print(count)

{1: 2, 2: 2, 3: 2, 4: 2}

In [63]:
# Find the largest num in the list

numbers = [10,50,200,4,3]
largest = numbers[0]
for num in numbers:
    if num > largest:
        largest = num
print(largest)

200

In [65]:
# Find the smallest num in the list

numbers = [10,50,200,4,3]
smallest = numbers[0]
for num in numbers:
    if num < smallest:
        smallest=num
print(smallest)

3

In [67]:
# Find second highest numbers

def sec_high(list):
    unique_num = set(list)
    if len(unique_num) < 2:
        return None
    unique_num.remove(max(unique_num))
    return max(unique_num)
numbers = [10,20,50,30]
print(sec_high(numbers))

30

In [69]:
# reverse list
list = [1,2,3,4]
rev_list = []
for num in list:
    rev_list.insert(0,num)
print(rev_list)

[4, 3, 2, 1]

In [71]:
# reverse
fruits = ['apple', 'banana', 'cherry']
reversed_words = [word[::-1] for word in fruits]
print(reversed_words)

['elppa', 'ananab', 'yrrehc']

In [73]:
even_numbers = [x for x in range(10) if x % 2 == 0]
print(even_numbers)  # Output: [0, 2, 4, 6, 8]

[0, 2, 4, 6, 8]

In [75]:
even_numbers = [x for x in range(10) if x % 2 == 0]

total = 0
for num in even_numbers:
    total += num

print("Even numbers:", even_numbers)
print("Sum:", total)

Even numbers: [0, 2, 4, 6, 8]
Sum: 20

In [83]:
# Swap list

def swaplist(list):
    get  = list[0], list[-1]
    list[-1], list[0] = get
    return list
newlist = [1,2,3,4]
print(swaplist(newlist))

[4, 2, 3, 1]

In [85]:
# multiply element in list

list = [2,4,8,3]
mul = 1
for num in list:
    mul = mul * num
print(mul)

192

In [87]:
# Even number in a list
list = [1,2,3,4,5,6]
for num in list:
    if num % 2 == 0:
        print(num)

2
4
6

In [89]:
# odd num
list = [1,2,3,4,5,6]
for num in list:
    if num % 2 != 0:
        print(num)

1
3
5

In [91]:
# print all even num in a range
even = [x for x in range(50) if x % 2 == 0]
print(even)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]

In [93]:
# print all odd number in a range
odd = [x for x in range(50) if x%2 != 0]
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

In [95]:
# remove multiple element from list
list = [10,20,30,40,50,60,70]
remove = [20,40,60]
result = []
for num in list:
    if num not in remove:
        result.append(num)
print(result)

[10, 30, 50, 70]

In [97]:
# find the length of list

list = [1,2,3,4]
count = 0
for num in list:
    count = count + 1
print(count)

4

In [105]:
def len_list(list):
    return len(list)
list = [1,2,3,4]
print(len_list(list))

4

In [99]:
# find duplicate character in string
s = "GeeksforGeeks"
res = []

# Iterate over the unique elements in 's'
for c in set(s):  # Use set to avoid repeated checks
    if s.count(c) > 1:
        res.append(c)
        

print(res)

['s', 'k', 'G', 'e']

In [103]:
name = 'rameklare'
uni_cha = []
for char in name:
    if char not in uni_cha:
        uni_cha.append(char)
print(uni_cha)

['r', 'a', 'm', 'e', 'k', 'l']

In [107]:
#reversed string
string='rameklare'
rev_string=''
for char in string:
    rev_string=char+rev_string
print(rev_string)

eralkemar