#### Day 1

In [5]:
print('Hello World')
print('My name is Ram.', 'My age is 27')

Hello World
My name is Ram. My age is 27

In [23]:
# Variables -- variables is a name given to a memory location in program

name = 'Ram'  #str
age = 27  #int
price = 10.25  #float
print('My name is :', name)
print('My age is :', age)
print('Price :', price)

print(type(name))
print(type(age))
print(type(price))

My name is : Ram
My age is : 27
Price : 10.25
<class 'str'>
<class 'int'>
<class 'float'>

In [27]:
# Data Types

# 1- Integers  (25,-25,0)
# 2- String   ('ram')
# 3- Float   (2.99,5.10)
# 4- Boolean   (True, False)
# 5- None

In [29]:
# print sum

a = 10
b = 20
sum = a+b
print('The sum is :', sum)

The sum is : 30

In [31]:
# Arithmetic operator

# + --- Addition
# - --- substraction
# * --- multiplication
# / --- division
# % --- Modulo
# // --- floor division operator
# ** --- Exponent/power operator

In [63]:
# arithmetic operator

a = 10
b = 2
print(a+b)
print(a-b)
print(a*b)
print(a/b)  # always in floating points
print(a%b)
print(a//b)  # arg are int type then return int value
print(a**b)

12
8
20
5.0
0
5
100

In [65]:
a = 10.5
b = 2
print(a+b)
print(a-b)
print(a*b)
print(a/b)  # always in floating points
print(a%b)
print(a//b)  # arg are int type then return int value
print(a**b)

12.5
8.5
21.0
5.25
0.5
5.0
110.25

In [67]:
# relational operator

a = 10
b = 20
print('a==b is :',a==b)
print('a!=b is :', a!=b)
print('a>b is :', a>b)
print('a>=b is :', a>=b)
print('a<b is :',a<b)
print('a<=b is :', a<=b)

a==b is : False
a!=b is : True
a>b is : False
a>=b is : False
a<b is : True
a<=b is : True

In [80]:
# Assignment operator

a = 10
a+=10
print(a)

20

In [86]:
# Logical operator
# and, or , not

# 1) and 

val1 = 0
val2 = 20
print('and operator :', val1 and val2)

val1 = 10
val2 = 20
print('and operator :', val1 and val2)

and operator : 0
and operator : 20

In [96]:
# 2) or

val1 = 10
val2 = 20
print('or operator :', val1 or val2)

val1 = 0
val2 = 20
print('or operator :', val1 or val2)

or operator : 10
or operator : 20

In [98]:
# 3) not

a = 50
b = 30
print(not (a>b))

False

In [102]:
# Type casting

a = int('2')
b = 10.25
print(a+b)

name = 'ram'
value = 2
print(name*value)

12.25
ramram

In [106]:
# Input in Python
# input statement is use to accept values from user

name = input('enter your name')
print('welcome :', name)

enter your name ram

welcome : ram

In [108]:
name = input('enter your name')
agge = int(input('enter your age'))
marks = float(input('enter your marks'))
print(name)
print(age)
print(marks)

enter your name ram
enter your age 27
enter your marks 99.9

ram
27
99.9

In [110]:
# write a program to input 2 numbers & print their sum

num1 = int(input('enter first num'))
num2 = int(input('enter second num'))
print("The sum two number is :",num1+num2)

enter first num 10
enter second num 20

The sum two number is : 30

In [116]:
# area of square
from math import pi
a = int(input('enter a value'))
print(a**2)

enter a value 4

16

In [118]:
# WAP to input 2 floating point numbers & print their average

a = float(input('enter first num'))
b = float(input('enter second num'))
avg = (a+b)/2
print('average of two num is :', avg)

enter first num 10
enter second num 20

average of two num is : 15.0

In [128]:
# WAP to input 2 int numbers, a and b
# print True if a is greater than or equal to b. if not print False

a = int(input('enter first num'))
b = int(input('enter second num'))
print(a >= b)

enter first num 10
enter second num 20

False

# Day 2

### String
#### String is data type that stores a sequence of characters

In [13]:
str1 = 'This is a string.\nwe are creating it in python.'  #\n-- next line
print(str1)

str1 = 'This is a string.\twe are creating it in python.'  #\t --- tab space
print(str1)

This is a string.
we are creating it in python.
This is a string.	we are creating it in python.

In [23]:
# concatenation
str1 = 'ram'
str2 = 'eklare'
final_str1 = str1 + str2
final_str2 = str1 + " " + str2
print(final_str1)
print(final_str2)

rameklare
ram eklare

In [25]:
# length of string
name = 'rameklare'
print(len(name))

9

In [43]:
# Indexing & Slicing

name = 'rameklare'
print(name[0])
print(name[1])
print(name[-1])
print(name[-3 : -1])
print(name[1:4])
print(name[1:])
print(name[:4])
print(name[:])

r
a
e
ar
ame
ameklare
rame
rameklare

In [79]:
# String function

str = 'I am a coder'
print(str.endswith('er'))  # return True if str ends with substr
print(str.upper())
print(str.lower())
print(str.swapcase())
print(str.title())
print(str.capitalize())
print(str.replace('coder','programmer'))
print(str.find('coder')) # return 1st index of 1st occurence
print(str.count('a'))
print(str.isalnum()). 
print(str.isalpha())
print(str.isdigit())

True
I AM A CODER
i am a coder
i AM A CODER
I Am A Coder
I am a coder
I am a programmer
7
2
False
False
False

In [81]:
# Lets practice
# WAP to input users first name & print its length

name = input('enter your name')
print(len(name))

enter your name ram

3

In [83]:
# WAP to find occurence of $ in a string

str = 'i am $ram eklare fr$m pune'
str.count('$')

2

### Conditional Statements

In [87]:
# if-elif-else  (SYNTAX)
# if statement
age = 24
if age >= 16:
    print('You can vote and apply for licence')

You can vote and apply for licence

In [89]:
# if-elif

light = 'green'
if light == 'red':
    print('Stop')
elif light == 'green':
    print('Go')
elif light == 'yellow':
    print('Look')

Go

In [91]:
# if-elif-else

light = 'pink'
if light == 'red':
    print('Stop')
elif light == 'green':
    print('Go')
elif light == 'yellow':
    print('Look')
else:
    print('light is broken')

light is broken

In [101]:
marks = int(input('enter marks'))
if marks >= 90:
    print('A')
elif marks >= 80:
    print('B')
elif marks >= 70:
    print("C")
else:
    print('D')

enter marks 75

C

In [105]:
# nesting

age = 81
if age >= 18:
    if age >=80:
        print('cannot drive')
    else:
        print('can drive')
else:
    print('cannot drive')

cannot drive

In [111]:
# WAP to check if a number entered by the user is odd or even
num = int(input('enter a num'))
if num%2 == 0:
    print('Even')
else:
    print('Odd')

enter a num 1

Odd

In [115]:
# WAP to find the greatest of 3 numbers entered by the user

n1 = int(input('enter first num')) 
n2 = int(input('enter second num'))
n3 = int(input('enter third num'))

if n1 > n2 and n1 > n3:
    print(n1)
elif n2 > n1 and n2 > n3:
    print(n2)
elif n3 > n1 and n3 > n2:
    print(n3)

enter first num 30
enter second num 10
enter third num 20

30

In [121]:
# WAP to check if a number is a multiple of 7 or not

num = int(input('enter a num'))
if num%7 == 0:
    print('multiple of seven')
else:
    print('Not')

enter a num 25

Not

# List

In [138]:
marks = [90,40,20,50]
print(marks)
marks[0]=100
print(marks)

[90, 40, 20, 50]
[100, 40, 20, 50]

In [141]:
# all data types are stored in a list
list = ['ram',27,99.6,'pune']
print(list)

['ram', 27, 99.6, 'pune']

In [151]:
# List slicing
marks = [85, 94, 76, 63, 48]
print(marks[1:4])
print(marks[0:4])
print(marks[-3:-1])

[94, 76, 63]
[85, 94, 76, 63]
[76, 63]

#### List Methods

In [198]:
list = [2,1,4,3]
list.append(5)
print(list)

list.reverse()
print(list)

list.sort()
print(list)

list.insert(1,100)  # insert element at specific index
print(list)

list.remove(100)
print(list)

list.pop()
print(list)

[2, 1, 4, 3, 5]
[5, 3, 4, 1, 2]
[1, 2, 3, 4, 5]
[1, 100, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4]

In [192]:
l1 = [2,1,4]
l2 = [6,9,3]
l1.extend(l2)
l1

[2, 1, 4, 6, 9, 3]

In [204]:
list = [1,4,2,2,6,9,3]
print(list.count(2))
print(list.index(4))

2
1

In [210]:
# List comprehension

s = [x*x for x in range(1,11)]
print(s)

v = [2**x for x in range(1,6)]
print(v)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[2, 4, 8, 16, 32]

## Tuples

In [213]:
# Tuple creation
# 1) t = ()
# 2) t = (10,)  # without comma its not consider a tuple
# 30 t = (10,20,30)

In [215]:
tup = (1,2,3)
print(type(tup))

<class 'tuple'>

In [217]:
tup = (1,2,3)
tup[0]

1

#### Tuple Methods

In [236]:
tup = (2,7,4,1,9,4)
print(len(tup))
print(tup.count(4))
print(tup.index(7))

6
2
1

In [244]:
t = (3,5,1,9,2)
t1 = sorted(t)
print(t1)
t2 = sorted(t,reverse=True)
print(t2)

[1, 2, 3, 5, 9]
[9, 5, 3, 2, 1]

In [250]:
# min() and max() function
t =(10,90,20)
print(min(t))
print(max(t))

10
90

In [257]:
# Tuple packing and unpacking
# packing
a = 10
b = 20
c = 30
d = 40
t = a,b,c,d
print(t)

(10, 20, 30, 40)

In [259]:
# Unpacking
t = (10,20,30,40)
a,b,c,d = t
print(a,b,c,d)

10 20 30 40

In [269]:
# Tuple comprehension
tup = (x**2 for x in range(1,6))
for x in tup:
    print(x)

1
4
9
16
25

In [279]:
# sum of number
t = eval(input('enter a tuple'))
sum = 0
for i in t:
    sum = sum+i
print(sum)
print(sum/len(t))

enter a tuple (1,2,3)

6
2.0

In [281]:
m1 = input('enter first movie')
m2 = input('enter second movie')
m3 = input('enter third movie')
movies = [m1,m2,m3]
print(movies)

enter first movie KGF
enter second movie Baghi
enter third movie Rocky

['KGF', 'Baghi', 'Rocky']

In [287]:
# WAP to check if a list contains a palindome of element

list = [1,2,3,2,1]
list_copy = list.copy()
list_copy.reverse()
if list_copy == list:
    print('P')
else:
    print('Not')

P

In [9]:
# WAP to count the num of students with the 'A' grade in the following tuple
tup = ('C','D','A','A','B','B','A')
print(tup.count('A'))
tup1 = list(tup)
tup1.sort()
print(tup1)

3
['A', 'A', 'A', 'B', 'B', 'C', 'D']

## Dictionary

In [74]:
info = {
    'name' : 'Ram',
    'Age' : 27,
    'City' : 'Pune',
    'Marks' : 95.5
}
print(info)
print(dict.keys(info))
print(dict.values(info))
print(dict.items(info))


info['name'] = 'Rambo'
info['surname'] = 'Eklare'
print(info)

{'name': 'Ram', 'Age': 27, 'City': 'Pune', 'Marks': 95.5}
dict_keys(['name', 'Age', 'City', 'Marks'])
dict_values(['Ram', 27, 'Pune', 95.5])
dict_items([('name', 'Ram'), ('Age', 27), ('City', 'Pune'), ('Marks', 95.5)])
{'name': 'Rambo', 'Age': 27, 'City': 'Pune', 'Marks': 95.5, 'surname': 'Eklare'}

In [76]:
null_dict = {}
null_dict['College'] = 'CDAC'
print(null_dict)

{'College': 'CDAC'}

In [78]:
# Nested Dictionary

student = {
    'name' : 'Ram',
    'Marks' : {
        'Python' : 80,
        'Java' : 90
    }
}
print(student)
print(student['Marks']['Python'])

{'name': 'Ram', 'Marks': {'Python': 80, 'Java': 90}}
80

In [82]:
# Dictionary Comprehension

squares = {x:x*x for x in range(1,6)}
print(squares)

doubles = {x:2*x for x in range(1,6)}
print(doubles)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
{1: 2, 2: 4, 3: 6, 4: 8, 5: 10}

## Set

In [107]:
sett = {1,2,3,4}
print(sett)
print(type(sett))

{1, 2, 3, 4}
<class 'set'>

In [5]:
# empty set
colection = set()
colection.add(50)
print(type(colection))
print(colection)

<class 'set'>
{50}

In [13]:
# Set Methods
# add()
set = {10,50,20,30}
set.add(90)
print(set)

{10, 50, 20, 90, 30}

In [15]:
# remove()
set.remove(90)
print(set)

{10, 50, 20, 30}

In [17]:
# clear()
set.clear()
print(set)

set()

In [21]:
s1 = {1,2,3,4}
s1.pop()
print(s1)

{2, 3, 4}

In [23]:
# union 
x = {10,20,30,40}
y = {30,40,50,60}
print(x.union(y))

{40, 10, 50, 20, 60, 30}

In [25]:
# intersection
print(x.intersection(y))

{40, 30}

In [27]:
# difference
print(x.difference(y))

{10, 20}

In [29]:
# symmetric_difference
print(x.symmetric_difference(y))

{10, 50, 20, 60}

In [34]:
marks = {}

x = int(input('enter phy :'))
marks.update({'phy':x})

x = int(input('enter math :'))
marks.update({'math':x})

print(marks)

enter phy : 90
enter math : 60

{'phy': 90, 'math': 60}

## Loops

#### While loop

In [19]:
n = 1
while n<=5:
    print(n)
    n = n+1

1
2
3
4
5

In [25]:
n = 5
while n>=1:
    print(n)
    n = n-1

5
4
3
2
1

In [27]:
i = 1
while i <= 10:
    print('Welcome',i)
    i += 1

Welcome 1
Welcome 2
Welcome 3
Welcome 4
Welcome 5
Welcome 6
Welcome 7
Welcome 8
Welcome 9
Welcome 10

In [29]:
# Print numbers from 1 to 100
n = 1
while n<=100:
    print(n)
    n = n+1

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [35]:
# print numbers from 100 to 1
n = 100
while n>=1:
    print(n)
    n = n-1

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [43]:
# print the multiplication table of a number n
n = 1
while n<=10:
    print(n*2)
    n = n+1

2
4
6
8
10
12
14
16
18
20

In [45]:
n = 1
while n<=10:
    print(n**2)
    n = n+1

1
4
9
16
25
36
49
64
81
100

In [49]:
nums = [1,4,9,16,25,36,49,64,81,100]
idx = 0
while idx < len(nums):
    print(nums[idx])
    idx = idx +1

1
4
9
16
25
36
49
64
81
100

In [9]:
nums = [1,4,9,16,25,36,49,64,81,100,36]
x = 36
idx = 0
while idx < len(nums):
    if nums[idx] == x:
        print('Found', idx)
    idx = idx+1

Found 5
Found 10

In [3]:
# Break
# Break is use to terminate the loop when encountered
i = 1
while i <= 10:
    if i == 6:
        break
    print(i)
    i += 1

1
2
3
4
5

In [3]:
# Continue-- skip the current iteration of a loop and move to the next iteration  
i = 1
while i <= 5:
    if i == 3:
        i = i + 1  # increment first
        continue   # skip printing 3
    print(i)
    i = i + 1

1
2
4
5

In [7]:
# Odd number
i = 1
while i <= 10:
    if i%2 == 0:
        i = i+1
        continue
    print(i)
    i = i+1

1
3
5
7
9

In [9]:
# Even numbers
i = 1
while i <= 10:
    if i%2 != 0:
        i = i+1
        continue
    print(i)
    i = i+1

2
4
6
8
10

#### For loop

In [14]:
num = [1,2,3,4]
for val in num:
    print(val)

1
2
3
4

In [16]:
name = 'rameklare'
for char in name:
    print(char)

r
a
m
e
k
l
a
r
e

In [18]:
# lets practice
for i in range(1,11):
    print(i**2)

1
4
9
16
25
36
49
64
81
100

In [3]:
for i in range(5):
    print(i)

0
1
2
3
4

In [5]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [7]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [1]:
# WAP to find the sum of first n numbers
n = 3
sum = 0
i = 1
while i <= n:
    sum = sum + i
    i = i + 1   # increment i so the loop progresses
print(sum)

6

In [17]:
# Fcatorial
n = 4
fact = 1
for i in range(1,n+1):
    fact = fact*i
print(fact)

24

In [23]:
# sum of num using for loop
n = 4
sum = 0
for i in range(1,n+1):
    sum = sum+i
print(sum)

10

#### Function and Recursion in python

In [15]:
# Function definition
def sum(a,b):  # parameters a,b 
    s = a + b  
    return s
print(sum(1,2)) # argument 1,2
print(sum(2,2))

3
4

In [17]:
def sum(a,b):
    return a+b
print(sum(1,3))

4

In [19]:
# average of three numbers

def avg(a,b,c):
    return (a+b+c)/3
print(avg(1,2,3))

2.0

In [23]:
print('ram', end = ' ')  # end = '\n'
print('eklare')

ram eklare

In [5]:
# default argument
def cal_prod(a=10, b=2):
    return a*b
print(cal_prod())

20

In [7]:
def cal_avg(a, b=2):
    return (a+b)/2
print(cal_avg(2))

2.0

In [19]:
# WAF to print the length of a list.(list is the parameter)
def len_list(list):
    return len(list)
list = [1,2,3]
print(len_list(list))

3

In [21]:
# WAF to print the elements of a list in a single line.(list is the parameter)
def list_ele(list):
    return list
list = [1,2,3,4]
print(list_ele(list))

[1, 2, 3, 4]

In [27]:
# WAF to find the factorial of n.(n is the parameter)

def fact(n):
    fact = 1
    for i in range(1,n+1):
        fact = fact*i
    print(fact)
fact(3)

6

## Recursion

In [30]:
# When a function calls itself repeatedly
# Factorial using recursion
def factorial(n):
    if n == 0 or n == 1:            # Base case
        return 1
    else:
        return n * factorial(n - 1)  # Recursive call

print(factorial(5))  # Output: 120

120

In [38]:
# Fibonacci using recursion
def fibonacci(n):
    if n <= 1:           # Base case
        return n
    else:
        return fibonacci(n-1) + fibonacci(n-2)

print(fibonacci(6))  # Output: 8

8

In [46]:
# sum

def sum_n(n):
    if n == 0:           # base case
        return 0
    else:
        return n + sum_n(n - 1)  # recursive call

print(sum_n(5))  # Output: 15

15

# OOPS Concept

In [2]:
# Class-- class is a blueprint for creating object
# creating class

class Student:
    name = 'ram eklare'

# creating object (instance)

s1 = Student()
print(s1.name)

ram eklare

In [4]:
class Car:
    color = 'red'
    brand = 'BMW'

car1 = Car()
print(car1.color, car1.brand)

red BMW

#### Constructor

In [15]:
class Student:
    def __init__(self,name):
        self.name = name

s1 = Student('RamEklare')
print(s1.name)

s2 = Student('eklareram')
print(s2.name)

RamEklare
eklareram

In [25]:
class Student:

    # default constructor
    def __init__(self):
        pass

    #parameterized constructor
    def __init__(self,name,marks):
        self.name = name
        self.marks = marks
        print('adding new student in datbase..')

s1 = Student('Ram',90)
print(s1.name, s1.marks)

adding new student in datbase..
Ram 90

#### Methods

In [42]:
# Methods are functions that belongs to objects.

class Student:
    def __init__(self,fullname,marks):
        self.fullname = fullname
        self.marks = marks

    def welcome(self):
        print('Welcome student',self.fullname)

    def get_marks(self):
        return self.marks

s1 = Student('RamEklare',90)
s1.welcome()
print(s1.get_marks())

Welcome student RamEklare
90

In [56]:
class Student:
    def __init__(self,name,marks):
        self.name = name
        self.marks = marks

    def marks_avg(self):
        sum = 0
        for value in self.marks:
            sum = sum+value
        print('Hi',self.name,'your avg score is:',sum/3)
            

s1 = Student('Ram',[1,2,3])
s1.marks_avg()

Hi Ram your avg score is: 2.0

In [68]:
# Create a class Rectangle with a constructor to initialize length and width. 
#Add a method to compute area and perimeter.

class Rectangle:
    def __init__(self,length,width):
        self.length = length
        self.width = width

    def rec_area(self):
        return self.length * self.width

    def rec_perimeter(self):
        return 2*(self.length + self.width)

r1 = Rectangle(8,5)
print(r1.rec_area())
print(r1.rec_perimeter())

40
26

In [72]:
# Create a class Book with a constructor to initialize title and author. 
#Add a method display_info() to print both.

class Book:
    def __init__(self,title,author):
        self.title = title
        self.author = author

    def display_info(self):
        print(self.title,self.author)

b1 = Book('Attitude','RVE')
b1.display_info()

Attitude RVE

In [76]:
# Create a class Employee with a constructor to initialize name and salary. 
# Add a method annual_salary() to return salary × 12.

class Employee:
    def __init__(self,name,salary):
        self.name = name
        self.salary = salary

    def annual_salary(self):
        return self.salary * 12

e1 = Employee('Ram',10000)
e1.annual_salary()

120000

In [80]:
# Create a class Circle with a constructor to initialize radius. 
# Add methods to compute area and circumference.
from math import pi
class Circle:
    def __init__(self,radius):
        self.radius = radius

    def area_circle(self):
        return pi*self.radius**2

c1 = Circle(2)
c1.area_circle()

12.566370614359172

In [100]:
#Create a class BankAccount with a constructor to initialize account_number and balance. 
#Add methods deposit(amount) and withdraw(amount).

class BankAccount:
    def __init__(self,acc_num,balance):
        self.acc_num = acc_num
        self.balance = balance

    def deposit(self,amount):
        self.balance = self.balance + amount
        return self.balance

    def withdraw(self, amount):
        if amount > self.balance:
            return "Insufficient balance"
        else:
            self.balance = self.balance - amount
            return self.balance
    
b1 = BankAccount(123,1000)
print(b1.deposit(200))
print(b1.withdraw(500))

1200
700

In [102]:
#Create a class Movie with a constructor to initialize title, genre, and rating. 
#Add a method to print details in one line.

class Movie:
    def __init__(self,title,genre,rating):
        self.title = title
        self.genre = genre
        self.rating = rating

    def movie_details(self):
        print(self.title,self.genre,self.rating)

m1 = Movie('KGF','ABCD',9)
m1.movie_details()

KGF ABCD 9

In [106]:
# Create a class Person with a constructor to initialize name and age. 
# If age < 18 print “Minor” else “Adult” in a method.

class Person:
    def __init__(self,name,age):
        self.name = name
        self.age = age

    def person_details(self):
        if self.age < 18:
            print('Minor')
        else:
            print('Adult')

p1 = Person('Ram',17)
p1.person_details()

Minor

# Create a class ShoppingCart with a constructor that initializes an empty list items. 
# Add methods add_item(item) and view_cart().

class ShoppingCart:
    def __init__(self):
        # constructor initializes an empty list of items
        self.items = []

    def add_item(self, item):
        """Add an item to the shopping cart"""
        self.items.append(item)
        print(f"'{item}' added to cart.")

    def view_cart(self):
        """View all items in the cart"""
        if not self.items:
            print("Your cart is empty.")
        else:
            print("Items in your cart:")
            for i, item in enumerate(self.items, start=1):
                print(f"{i}. {item}")

# Example usage:
cart = ShoppingCart()
cart.view_cart()          # empty cart initially
cart.add_item("Apple")
cart.add_item("Milk")
cart.view_cart()

#### Inheritance

In [11]:
# When One class derives the properties and methods of another class

In [21]:
# single inheritance
class Car:
    @staticmethod
    def start():
        print('car started...')

    @staticmethod
    def stop():
        print('car stopped...')

class ToyotaCar(Car):
    def __init__(self,name):
        self.name = name

car1 = ToyotaCar('Fortuner')
print(car1.name)
print(car1.start())

Fortuner
car started...
None

In [23]:
class Animal:
    def eat(self):
        print('i can eat')

class Dog(Animal):
    def bark(self):
        print('i can bark')

dog1 = Dog()
dog1.eat()
dog1.bark()

i can eat
i can bark

In [43]:
# Multilevel inheritance

class Car:
    @staticmethod
    def start():
        print('car started')

    @staticmethod
    def stop():
        print('car stopped')

class ToyotaCar(Car):
    def __init__(self,brand):
        self.brand = brand

class Fortuner(ToyotaCar):
    def __init__(self,type):
        self.type = type

car1 = Fortuner('Diesel')
car1.start()
print(car1.type)

car started
Diesel

In [29]:
# Grandparent class
class LivingBeing:
    def breathe(self):
        print("I can breathe")

# Parent class (inherits from LivingBeing)
class Animal(LivingBeing):
    def eat(self):
        print("I can eat")

# Child class (inherits from Animal)
class Dog(Animal):
    def bark(self):
        print("I can bark")

# Using it
d = Dog()
d.breathe()  # from LivingBeing
d.eat()      # from Animal
d.bark()     # from Dog

I can breathe
I can eat
I can bark

In [37]:
# Grandparent class
class Vehicle:
    def general_info(self):
        print("I am a vehicle")

# Parent class (inherits from Vehicle)
class Car(Vehicle):
    def car_info(self):
        print("I am a car")

# Child class (inherits from Car)
class ElectricCar(Car):
    def battery_info(self):
        print("I run on electricity")

# Using it
e = ElectricCar()
e.general_info()  # from Vehicle
e.car_info()      # from Car
e.battery_info()  # from ElectricCar

I am a vehicle
I am a car
I run on electricity

In [47]:
# Multiple Inheritance

class A:
    varA = 'welcome to class A'

class B:
    varB = 'welcome to class B'

class C(A,B):
    varC = 'welcome to class C'

c1 = C()
print(c1.varC)
print(c1.varB)
print(c1.varA)

welcome to class C
welcome to class B
welcome to class A

In [49]:
# Parent class 1
class Engine:
    def engine_info(self):
        print("I have an engine")

# Parent class 2
class Wheels:
    def wheels_info(self):
        print("I have wheels")

# Child class (inherits from both Engine and Wheels)
class Car(Engine, Wheels):
    def car_info(self):
        print("I am a car")

# Using it
c = Car()
c.engine_info()   # from Engine
c.wheels_info()   # from Wheels
c.car_info()      # from Car

I have an engine
I have wheels
I am a car

In [55]:
#  @property method

class Student:
    def __init__(self,phy,chem,math):
        self.phy = phy
        self.chem = chem
        self.math = math

    @property
    def percentage(self):
        return str((self.phy + self.chem + self.math) / 3) + '%'

s1 = Student(98,99,97)
print(s1.percentage)

s1.phy = 60
print(s1.percentage)

98.0%
85.33333333333333%